{% extends 'basee.html' %}
 
{% block content %}
<div class="row">
    <div class="col-12">
        <a href="addnew/" class="btn btn-primary">Add New</a>
        <br><br>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Project Title</th>
                    <th>Intern</th>
                    <th>Internship Type</th>
                    <th>Summary</th>
                    <th>File Path</th>
                    <th width="200">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for rs in project %}
                    <tr>
                        <td>{{ rs.id }}</td>
                        <td>{{ rs.title }}</td>
                        <td>{{ rs.author }}</td>
                        <td>{{ rs.project_type }}</td>
                        <td>{{ rs.summary }}</td>
                        <td>{{ rs.file_path }}</td>
                        <td>
                            <a href="edit/{{ rs.id }}" class="btn btn-success">Edit</a> | <a href="delete/{{ rs.id }}" class="btn btn-danger">Delete</a>  
                        </td>
                    </tr>
                {% endfor %}    
            </tbody>
        </table>
    </div>
</div>
 
{% endblock content %}