<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Mercer Projects Library</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styleBrowse.css') }}"> 
</head>
<body>
    <section>
        <header>
            <h1>Browse</h1>
            <ul>
                <li><a href="{{url_for('Home')}}">Home</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="{{url_for('upload_page')}}">Upload</a></li>
            </ul>
        </header>
        <div class="results">
            <div class="searchBox">
                <div class="dropdown">
                    <button class="dropbtn">Filters</button>
                    <div class="dropdown-content">
                        <a href="#">Type</a> 
                        <a href="#">Semester</a>
                        <a href="#">Manager</a>
                        <a href="#">Client</a> 
                    </div>
                </div>
                <form action="/search/" method="get">
                <input type="text" class="search">
                <div class="icons">
                    <div><img src="{{url_for('static', path='images/Search.png')}}"></div>
                </div>
                </form>
            </div>

            <div class="results-shelf"></div>
                <div class="results_box">

                    {% for rs in project %}

                    <div class="results_card">
                        <div class="results_image">
                            <img src= "uploads/{{rs.img_file_path}}" alt="">
                        </div>
                        <div class="results_tag">                     
                            <p class="author">{{ rs.author}}</p>
                            <p class="type">{{ rs.project_type}}</p>
                            <p class="summary">{{rs.summary}}</p>
                            <a href="pdf/{{rs.id}}" class="results_btn">Learn More</a>
                        </div>
                    </div>
                    {% endfor %} 
                </div>
            </div>
        </div>
    </section>
</body>