<!DOCTYPE html>
<html>
    <head>
        <title>PDF Viewer</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.7.570/pdf.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', path='css/upload-page-css.css') }}">
    </head>
    <body>
        <section>
        <header>
            <div class ="formfill">
                <h1 class="page-header text-center">PDF Viewer</h1>
            </div>
            <ul>
                <li><a href="{{url_for('Home')}}">Home</a></li>
                <li><a href="{{url_for('browse_page')}}">Browse</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </header>
        <div class ="pdf-js">
            <iframe id="pdf-js-viewer" src="{{url_for('pdf')}}" title="webviewer" frameborder="10" width="500" height="600"></iframe>
        </div>
        </section>
    </body>
</html>
