<!DOCTYPE html>
<html>
    <head>
        <title>PDF Viewer</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.7.570/pdf.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', path='css/pdf-view-css.css') }}">
    </head>
    <body>
        <section>
        <header>
            <div class ="formfill" style="margin: 0 auto;">
                <h1 class="page-header text-center">PDF Viewer</h1>
            </div>
            <ul>
                <li><a href="{{url_for('Home')}}">Home</a></li>
                <li><a href="{{url_for('browse_page')}}">Browse</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </header>
        <div class ="pdf-js" style="position: relative;width: 50vw; height:50vh;overflow: hidden;padding-top: 56.25%;">
            <iframe id="pdf-js-viewer" src="pdf/{{ project_file }}" title="webviewer" frameborder="10" style="height: 100%;width:100%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: 0 auto;"></iframe>
        </div>
        </section>
    </body>
</html>