*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}
section
{
   position: relative;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}
section header
{
   position: absolute;
   top: 0;
   width: 100%;
   display: flex;
   justify-content: flex-end;
   padding: 25px;
   box-shadow: 0 0 20px rgb(255, 111, 0);
}
section header h1
{
   font-size: 30px;
   margin-right: 400px;
}
section header ul
{
   display: flex;
   justify-content: center;
   align-items: center;
}
section header ul li
{
   list-style: none;
   margin-left: 20px;
}
section header ul li a
{
   color: #111;
   text-decoration: none;
   font-size: 15px;
}
section header ul li a:hover
{
   color: rgb(255, 111, 0);
}

/* title of page */
.container
{
   margin-top: 150px;
}

.pdf-js
{
   margin-top: 150px;
   margin-bottom: 150px;
}